body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  overflow: hidden;
  background: rgb(51,50,49);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

::-webkit-scrollbar {
  display: none;
}

#zoom-level {
  margin: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top:0;
  z-index: 1000;
  background: #ddd;
}

#to-10-zoom-level {
  margin: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1000;
  background: #ddd;
  cursor: pointer;
  transition: .3s;
}

#to-10-zoom-level:hover {
  background: #ea8585;
}

#map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.loading-map-panel {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.greeting-panel__container {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#greeting-panel {
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 450px;
  padding: 20px 25px;
  border-radius: 5px;
  animation: emersion .7s .5s both cubic-bezier(0.04, 0.36, 0.1, 1.06);
}

#greeting-panel h2 {
  font-size: 17px;
  line-height: 1.4em;
}

.greeting-panel__btns-container {
  margin-top: 10px;
}

@keyframes emersion {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#main-interface-wrapper {
  z-index: 1;
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 95%;
  max-width: 410px;
  overflow-y: auto;
}

#other-interface-wrapper {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 1000px;
  max-width: 400px;
  right: 5px;
}

#loading-data-panel {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  background: rgba(189, 189, 189, 0.7);
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
}

.step-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 900;
}

#edit-interface-wrapper .step-title:hover {
  cursor: pointer;
}

.disabled {
  color: #C2C2C2;
}

.master-title {
  color: black;
  text-align: center;
}

.hidden {
  display: none;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.color-box:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.huebee {
  z-index: 10;
}

.cities-huebee {
  top: unset !important;
  bottom: 357px !important;
}

.huebee__container {
  background: white;
  left: -180px;
}

.huebee__cursor {
  width: 20px;
  height: 20px;
}

.borderless td {
  border: none;
}

.table thead th {
  border: none;
  border-bottom: 1px dotted #e0e0e0;
}

.width-input-row {
  margin-top: 20px;
}

.min-width-col {
  display: flex;
  width: 40%;
  align-items: baseline;
  float: left;
}

.max-width-col {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: baseline;
  float: right;
}

.min-width-input,
.max-width-input {
  width: 30%;
  margin-left: 5px;
}

.max-width-input {
  width: 40%;
}

.width-input-prefix,
.width-input-postfix {
  color: rgb(121, 121, 121);
}

.width-input-postfix {
  margin-left: 2px;
}

.form-row {
  margin-top: 15px;
}

.noUi-target {
  margin-left: 15px;
  margin-right: 15px;
}

.checkbox {
  margin-top: 10px;
}

.demo {
  background: #d2d2d2;
}

.edit-nodes__fill-color {
  display: flex;
  align-items: center;
  margin: 2% 0;
}

.edit-nodes__stroke-color {
  display: flex;
  align-items: center;
}

.edit-nodes__color-text {
  width: 80%;
}

#cities-fill-color-box {
  background: #fff;
  border: 1px solid grey;
}

#cities-stroke-color-box {
  background: #000;
}
