body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

#map {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#interface-wrapper {
    z-index: 1;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

#form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 310px;
    background:#ffffff;
    padding: 10px;
    border-radius: 5px;
    align-items: flex-start;
}

#form-submit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.form-title {
    margin: 0;
    margin-bottom: 5px;
}

.btn-submit {
    margin-top: 5px;
}