.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
}

.color-box:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

#cities-fill-color-box {
  background: #fff;
}

#cities-stroke-color-box {
  background: #000;
}

.color-box--info-window {
  margin-right: 5px;

  &:hover {
    box-shadow: none;
    cursor: initial;
  }
}