.huebee {
  z-index: 10;
  top: unset !important;
  bottom: 370px !important;
}

.huebee__container {
  background: rgba(35, 35, 35, 0.95);
  left: -180px;
}

.huebee__cursor {
  width: 20px;
  height: 20px;
}


.huebee__cities-color {
  top: unset !important;
  bottom: 355px !important;
}