.info-window {
  position: absolute;
  bottom: 25px;
  right: 5px;
  background: rgba(41, 41, 41, 0.95);
  color: rgb(224, 224, 224);
  font-weight: 300;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.info-window__table {
  margin-bottom: 0;
}

.info-window__row--total {
  font-weight: 400;
}

.table th {
  font-weight: 400;
}

.info-window .table td, .info-window .table th {
  padding: 3px;
}