.language-interface {

  &--main-window {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}

.language-interface__text {
  margin-bottom: 10px;
  font-weight: 300;
}