.legend {
  position: fixed;
  right: 5px;
  top: 5px;
  background: rgba(41, 41, 41, 0.95);
  color: rgb(224, 224, 224);
  font-weight: 300;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.legend__group {
  // margin-bottom: 10px;
  margin-right: 10px;

  &:last-child {
    // margin-bottom: 0;
    margin-right: 0;
  }

  &--cargo-types {
    display: none;
  }
}

.legend__group-title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.legend__cargo-types-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend__cargo-volume-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend__city-volume-col {
  padding-right: 5px;

  &--circle {
    text-align: center;
  }
}

.legend__cargo-volume-line {
  display: inline-block;
  width: 50px;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  margin-right: 7px;
}

.legend__city-volume-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
}

