.main-interface-wrapper {
  z-index: 1;
  position: absolute;
  background: rgba(255, 255, 255, .95);
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 95%;
  max-width: 420px;
  overflow-y: auto;
  margin-right: -16px;
}

.main-interface-wrapper--dark {
  background: rgba(41, 41, 41, 0.95);
  color: rgb(224, 224, 224);
  font-weight: 300;
}