.nodes-settings__fill-color {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.nodes-settings__stroke-color {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.nodes-settings__text {
  width: 65%;
}