.mapboxgl-ctrl-scale {
  position: fixed;
  bottom: 7px;
  left: 100px;
  margin: 0 !important;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(224, 224, 224);
  padding: 0 5px;
  box-sizing: border-box;
  background: none;
  color: rgb(224, 224, 224);
}